body {
    background-color: black;
    color: rgb(236, 15, 15);
    font-family: "Chakra Petch", sans-serif;
    margin: 0px;
    px
}

h1 {
    font-size: 50px;
}

p {
    font-size: 20px;
}

header {
    border-bottom: solid 4px rgb(88, 151, 96);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 228)
}
section{
    background-color: rgb(33, 16, 48);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
div{
    margin-right: 5%;
    margin-left: 5%;
}
